/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	/* I2C devices */
	fragment@0 {
		target = <&i2c_arm>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			i2c_pipuck: i2c-switch@70 {
				compatible = "nxp,pca9548";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;
				i2c_pipuck_0: i2c@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
					/* Sensor Board 1 */
				};
				i2c_pipuck_1: i2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
					/* Sensor Board 2 */
				};
				i2c_pipuck_2: i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
					pipuck_gpio: gpio@21 {
						compatible = "microchip,mcp23017";
						gpio-controller;
						#gpio-cells = <2>;
						reg = <0x21>;
						interrupt-parent = <&gpio>;
						interrupts = <6 0x8>;
						interrupt-controller;
						#interrupt-cells = <2>;
						microchip,irq-mirror;
					};
					pipuck_adc: ads1015@48 {
						compatible = "ti,ads1015";
						reg = <0x48>;
						#address-cells = <1>;
						#size-cells = <0>;
						pipuck_ain0: channel@4 {
							reg = <4>;
							ti,gain = <0>;
							ti,datarate = <0>;
						};
						pipuck_ain1: channel@5 {
							reg = <5>;
							ti,gain = <0>;
							ti,datarate = <0>;
						};
					};
					tca6507@45 {
						compatible = "ti,tca6507";
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0x45>;
						led@0 {
							label = "pipuck_r1";
							reg = <0x0>;
						};
						led@1 {
							label = "pipuck_g1";
							reg = <0x1>;
						};
						led@2 {
							label = "pipuck_b1";
							reg = <0x2>;
						};
						led@3 {
							label = "pipuck_r2";
							reg = <0x3>;
						};
						led@4 {
							label = "pipuck_g2";
							reg = <0x4>;
						};
						led@5 {
							label = "pipuck_b2";
							reg = <0x5>;
						};
						led@6 {
							label = "pipuck_white";
							reg = <0x6>;
						};
					};
					/* Sensor Board 3 */
				};
				i2c_pipuck_3: i2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
					/* Sensor Board 4 */
				};
				i2c_pipuck_4: i2c@4 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <4>;
					/* Sensor Board 5 */
				};
				i2c_pipuck_5: i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
					/* Sensor Board 6 */
				};
				i2c_pipuck_6: i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
					/* e-puck */
					/* Sensor Board 7 */
				};
				i2c_pipuck_7: i2c@7 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <7>;
					/* Sensor Board 8 */
				};
			};
		};
	};

	/* SD LED (on Raspberry Pi pin) */
	fragment@1 {
		target-path = "/soc";
		__overlay__ {
			pipuck_sd_led {
				compatible = "gpio-leds";
				pipuck_sd {
					label = "pipuck_sd";
					gpios = <&gpio 26 1>;
					linux,default-trigger = "mmc0";
				};
			};
		};
	};

	/* Status LEDs (on I2C) */
	fragment@2 {
		target-path = "/soc";
		__overlay__ {
			pipuck_status_leds {
				compatible = "gpio-leds";
				pipuck_wrx {
					label = "pipuck_wrx";
					gpios = <&pipuck_gpio 1 1>;
					linux,default-trigger = "phy0rx";
				};
				pipuck_wtx {
					label = "pipuck_wtx";
					gpios = <&pipuck_gpio 2 1>;
					linux,default-trigger = "phy0tx";
				};
				pipuck_boot {
					label = "pipuck_boot";
					gpios = <&pipuck_gpio 3 1>;
					linux,default-trigger = "heartbeat";
				};
				pipuck_user {
					label = "pipuck_user";
					gpios = <&pipuck_gpio 0 1>;
					linux,default-trigger = "none";
				};
			};
		};
	};

	/* DIP switch keys */
	fragment@3 {
		target-path = "/soc";
		__dormant__ {
			pipuck_dip_switch_keys {
				compatible = "gpio-keys";
				pipuck_sw1 {
					label = "pipuck_sw1";
					gpios = <&pipuck_gpio 4 1>; // SW1
					linux,code = <256>;
				};
				pipuck_sw2 {
					label = "pipuck_sw2";
					gpios = <&pipuck_gpio 5 1>; // SW2
					linux,code = <257>;
				};
				pipuck_sw3 {
					label = "pipuck_sw3";
					gpios = <&pipuck_gpio 6 1>; // SW3
					linux,code = <258>;
				};
				pipuck_sw4 {
					label = "pipuck_sw4";
					gpios = <&pipuck_gpio 7 1>; // SW4
					linux,code = <259>;
				};
			};
		};
	};

	/* Navigation switch keys */
	fragment@4 {
		target-path = "/soc";
		__dormant__ {
			pipuck_nav_switch_keys {
				compatible = "gpio-keys";
				pipuck_nav_up {
					label = "pipuck_nav_up";
					gpios = <&pipuck_gpio 8 1>; // UP
					linux,code = <103>; // KEY_UP
				};
				pipuck_nav_down {
					label = "pipuck_nav_down";
					gpios = <&pipuck_gpio 9 1>; // DOWN
					linux,code = <108>; // KEY_DOWN
				};
				pipuck_nav_left {
					label = "pipuck_nav_left";
					gpios = <&pipuck_gpio 10 1>; // LEFT
					linux,code = <105>; // KEY_LEFT
				};
				pipuck_nav_right {
					label = "pipuck_nav_right";
					gpios = <&pipuck_gpio 11 1>; // RIGHT
					linux,code = <106>; // KEY_RIGHT
				};
				pipuck_nav_centre {
					label = "pipuck_nav_centre";
					gpios = <&pipuck_gpio 12 1>; // CENTRE
					linux,code = <28>; // KEY_ENTER
				};
				pipuck_nav_sw1 {
					label = "pipuck_nav_sw1";
					gpios = <&pipuck_gpio 13 1>; // SW1
					linux,code = <30>; // KEY_A
				};
				pipuck_nav_sw2 {
					label = "pipuck_nav_sw2";
					gpios = <&pipuck_gpio 14 1>; // SW2
					linux,code = <48>; // KEY_B
				};
			};
		};
	};

	/* Shutdown button key */
	fragment@5 {
		target-path = "/soc";
		__overlay__ {
			pipuck_shutdown_key {
				compatible = "gpio-keys";
				pipuck_shutdown: pipuck_shutdown {
					label = "shutdown";
					linux,code = <116>; // KEY_POWER
					gpios = <&gpio 5 1>;
					debounce-interval = <1000>;
				};
			};
		};
	};

	/* Audio output */
	fragment@6 {
		target = <&gpio>;
		__overlay__ {
			pwm_pins: pwm_pins {
				brcm,pins = <12>;
				brcm,function = <4>; // Alt0
			};
			pipuck_audio_enable_pins: pipuck_audio_enable_pins {
				brcm,pins = <22>;
				brcm,function = <1>; // GPIO out
			};
		};
	};
	fragment@7 {
		target = <&pwm>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pwm_pins &pipuck_audio_enable_pins>;
			status = "okay";
		};
	};

	/* Microphone audio input (based on https://www.raspberrypi.org/forums/viewtopic.php?t=173640) */
	fragment@8 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};
	fragment@9 {
		target-path = "/";
		__overlay__ {
			card_codec: card-codec {
				#sound-dai-cells = <0>;
				compatible = "invensense,ics43432";
				status = "okay";
			};
		};
	};
	fragment@10 {
		target = <&sound>;
		slave_overlay: __overlay__ {
				compatible = "simple-audio-card";
				simple-audio-card,format = "i2s";
				simple-audio-card,name = "pi-puck_mic";
				status = "okay";
				simple-audio-card,cpu {
					sound-dai = <&i2s>;
				};
				dailink0_slave: simple-audio-card,codec {
					sound-dai = <&card_codec>;
				};
		};
	};

	/* Enable external ADC channels */
	fragment@11 {
		target = <&pipuck_adc>;
		__dormant__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pipuck_ain2: channel@6 {
				reg = <6>;
				ti,gain = <2>;
				ti,datarate = <4>;
			};
		};
	};
	fragment@12 {
		target = <&pipuck_adc>;
		__dormant__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pipuck_ain3: channel@7 {
				reg = <7>;
				ti,gain = <2>;
				ti,datarate = <4>;
			};
		};
	};

	fragment@13 {
		target = <&i2c_pipuck_2>;
		__dormant__ {
			#address-cells = <1>;
			#size-cells = <0>;
			ssd1306: oled@3c {
				compatible = "solomon,ssd1306fb-i2c";
				reg = <0x3c>;
				solomon,height = <16>;
				solomon,width = <96>;
				solomon,page-offset = <0>;
				solomon,com-lrremap;
				solomon,com-invdir;
				solomon,segment-no-remap;
				solomon,com-offset = <8>;
			};
		};
	};

	__overrides__ {
		dip_keys = <0>,"+3";
		nav_keys = <0>,"+4";
		shutdown_key_disable = <0>,"-5";
		shutdown_key_debounce = <&pipuck_shutdown>,"debounce-interval:0";
		ain2 = <0>,"+11";
		ain2_gain = <&pipuck_ain2>,"ti,gain:0";
		ain2_datarate = <&pipuck_ain2>,"ti,datarate:0";
		ain3 = <0>,"+12";
		ain3_gain = <&pipuck_ain3>,"ti,gain:0";
		ain3_datarate = <&pipuck_ain3>,"ti,datarate:0";
		oledfb = <0>,"+13";
	};
};
